[Unit]
Description=Usapyon
After=network.target voicevox-engine.service

[Service]
Type=simple
ExecStart=/usr/local/bin/usapyon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

