[Unit]
Description=VOICEVOX Engine
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/linux-cpu/run

[Install]
WantedBy=multi-user.target

