[Unit]
Description=VoiceChatLoid
After=network.target voicevox-engine.service

[Service]
Type=simple
User=ikeda
ExecStart=/usr/bin/python3 /home/ikeda/VoiceChatLoid/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

